<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <mat-slide-toggle (change)="toggleTheme()" [checked]="isDarkTheme">
    Dark mode
  </mat-slide-toggle>
</mat-toolbar>

<nav>
  <a mat-button routerLink="/fundamentals" routerLinkActive="active">Fundamentals</a>
  <a mat-button routerLink="/interpolation" routerLinkActive="active">Interpolation &amp; Binding</a>
  <a mat-button routerLink="/event-binding" routerLinkActive="active">Event Binding</a>
  <a mat-button routerLink="/two-way-binding" routerLinkActive="active">Two‑Way Binding</a>
  <a mat-button routerLink="/directive-demo" routerLinkActive="active">Directives</a>
  <a mat-button routerLink="/pipe-demo" routerLinkActive="active">Pipes</a>
  <a mat-button routerLink="/service-demo" routerLinkActive="active">Services</a>
  <a mat-button routerLink="/lifecycle-demo" routerLinkActive="active">Lifecycle</a>
  <a mat-button routerLink="/signals-demo" routerLinkActive="active">Signals</a>
  <a mat-button routerLink="/ngrx-demo" routerLinkActive="active">NgRx Demo</a>
</nav>

<main style="padding: 1rem;" class="mat-app-background">
  <router-outlet></router-outlet>
</main>

